<menu>
  <Services>
    <Nginx cssClass="fa fa-shield fa-fw">
      <General url="/ui/nginx" order="10"/>
      <HTTP VisibleName="HTTP(S)" url="/ui/nginx/index/http" order="13"/>
      <Stream VisibleName="Data Streams" url="/ui/nginx/index/streams" order="14"/>
      <Upstreams url="/ui/nginx/index/upstreams" order="17"/>
      <Banned url="/ui/nginx/index/ban" order="20"/>
      <TLSFingerprints VisibleName="TLS Fingerprints" url="/ui/nginx/index/tls_handshakes" order="30"/>
      <VTS VisibleName="Traffic Statistic" url="/ui/nginx/index/vts" order="90"/>
      <Logs url="/ui/nginx/index/logs" order="100"/>
    </Nginx>
  </Services>
</menu>
